*{
    padding:0;
    margin:0;
    font-family: montserrat;
}
body{
    background-color: #222222;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form{
    margin-top: 100px;
    width: 500px;
}